:root{
    --text-color: #fff;
    --background-color: #263343;
    --accent-color :#d49466;
}

/* 폰트 */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Body*/
.body{
    font-family: 'IBMPlexSansKR-Regular';
    margin: 0;
}

.BannerBlock {
    width: 100%;
    height: 30vh;
    margin-bottom: relative;
    cursor: pointer;
}
.BannerImg{
    display: block;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    opacity: 0.7;
}