:root{
    --text-color: #fff;
    --background-color: #263343;
    --accent-color :#d49466;
}

/* 폰트 */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Body*/
.body{    
    font-family: 'IBMPlexSansKR-Regular';
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

/*navbar*/
.navbarBlock{
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px, 12px;
    font-family: 'IBMPlexSansKR-Regular';  
}

.navbar {
    display:flex;
    justify-content: space-between;
    padding: 8px, 12px;
    font-family: 'IBMPlexSansKR-Regular';  
}

.navbar__logo{
    margin-top: 1.5%;
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo i {
    color : var(--accent-color);
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li :hover{
    background-color: var(--accent-color);
    border-radius: 4px;
}

.navbar__menu li{
    padding: 8px 12px;
}

.navbar__icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
}

.navbar__icons li{
    padding: 8px 12px;
}

.navbar__toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

.navbar__note__sub{
    display: none;
    position: absolute;
    list-style: none;
    justify-content: center;
    padding: 0;
    display: flex;
}

.navbar__note__sub li{
    padding: 8px 12px;
}

.navbar__note__sub :hover{
    background-color: var(--accent-color);
    border-radius: 4px;
}

.navbar__note__sub.active{
    display: flex;
    position: relative;
}

@media screen and (max-width : 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li{
        width: 100%;
        text-align: center;
    }

    .navbar__icons{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.acitve{
        display: flex;
    }
}